:root {
    --page-color: 
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items > li {
    padding: 10px;
    margin-top: 20px;
}


.nav-items > li:hover {
   cursor: pointer;
}

.react-logo {
   width: 60px;
   padding-left: 10px;
}

.title {
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 20px;;
}

